.productdisplay{
    display: flex;
    margin: 0px 70px;
}

.productdisplay_left{
    display: flex;
    gap: 17px;
}
.productdisplay_image_list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay_image_list img{
    height: 163px;
}
.productdisplay_main_image {
    width: 586px;
    height: 700px;

}

.productdisplay_right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;    
}
.productdisplay_right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

 .productdisplay_right_stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
 }

 .productdisplay-right-prices{
    display: flex;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #1c1c1c;
 }

 .productdisplay-new-price{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.productdisplay-old-price{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.productdisplay-right-size{
    display: flex;
    flex-direction: column;
}
.productdisplay-right-sizes div{
    border: 1px solid;
    padding: 18px 24px;
    background-color: #fbfbfb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right-sizes div:hover{
    background: #e4b3b3;
}
.productdisplay-right-sizes{
    display: flex;
    gap: 12px;
    text-transform: capitalize;
}
.addcartbtn{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #ff4141;
    border: none;
    margin-bottom: 40px;
    margin-top: 30px;
    outline: none;
    cursor: pointer;
    transition: 0.3 ease;
}
.addcartbtn:hover{
    scale: 1.01;
    transition: 0.8s linear ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.productdisplay-right-category{
    margin-top: 10px;

}
.productdisplay-right-category  span{
    font-weight: 600;
}