.loginsignup{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 80vh;
     background: #fce3fe;
     padding-top: 100px;
}

.loginsignup-container{
    width: 580px;
    height: 600px;
    background: #fff;
    backdrop-filter: blur(10px);
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin: 20px 0px;

}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-fields input{
    width: 100%;
    height: 72px;
    outline: none;
    border: 1px solid #c9c9c9;
    color: #5c5c5c;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 10px;
}

.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: #fff;
    background: #ff4141;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    border: none;
}

.loginsingnup-login{
    margin-top: 20px;
    color:#5c5c5c;
    font-size: 18px;
    font-weight: 500;
}


.loginsingnup-login span{
    color:#ff4141;
    font-weight: 600;
}


.loginsignup-agree{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}