
.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
    
}
.left-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
    flex: 1 1 1;
}

.left-part h2{
    color: #090909;
    font-size: 26px;
    font-weight: 500;
}

.left-part p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;

}

.hero-hand-icon{
    display: flex;
    flex-direction: column;
    align-items:start;
    
    gap: 20px;
}

.hero-hand-icon img{
    width: 105px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px ;
    color: white;
    background: #ff4141;
    font-weight: 500;
    font-size:22px   ;

}

